{#qishi_jobfair_show set="列表名:show,招聘会ID:GET[id]"#}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#$show.title#} - 招聘会 - {#$QISHI.site_name#}</title>
<meta name="description" content="{#$show.description#}">
<meta name="keywords" content="{#$show.keywords#}">
<meta name="author" content="兆和CMS" />
<meta name="copyright" content="mandntwork.com" />
<meta http-equiv="X-UA-Compatible" content="IE=7">
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<link href="{#$QISHI.site_template#}css/common.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/jobfair.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_template#}js/jquery.vtip-min.js" type='text/javascript' ></script>
<script type="text/javascript">
$(document).ready(function()
{
		var id="{#$smarty.get.id#}";
		var tsTimeStamp= new Date().getTime();
		$.get("{#$QISHI.site_dir#}plus/ajax_click.php", { "id": id,"time":tsTimeStamp,"act":"jobfair_click"},
			function (data,textStatus)
			 {			
				$("#click").html(data);
			 }
		);
});
</script>
</head>
<body>
{#include file="header.htm"#}
<div class="page_location link_bk">
当前位置：<a href="{#$QISHI.site_dir#}">首页</a>&nbsp;>>&nbsp;<a href="{#"QS_jobfairlist"|qishi_url#}">招聘会</a>&nbsp;>>&nbsp;{#$show.title#}
</div>
<div class="jobfairshow">
  <div class="left">
    <div class="show">
	  <h1>{#$show.title#}</h1>	
		<div class="date link_bk">
		点击：<span id="click"></span> 次&nbsp;&nbsp;&nbsp;&nbsp; 添加日期：{#$show.addtime|date_format:"%Y-%m-%d"#} &nbsp;&nbsp;&nbsp;&nbsp; [ <a href="javascript:window.print();">打印</a> ]&nbsp;&nbsp;[ <a href="#" onclick="window.external.addFavorite(parent.location.href,document.title);">收藏</a> ]&nbsp;&nbsp;[ <a href="javascript:self.close()">关闭</a> ] 
		</div>
		<div class="txt">
		<strong>举办日期：</strong>{#$show.holddates|date_format:"%Y年%m月%d日"#}<br />
		<strong>行业主题：</strong>{#$show.industry#}<br />
		<strong>展位数量：</strong>{#$show.number#}<br />		
		<strong>举办地址：</strong>{#$show.address#}<br />
		<strong>乘车路线：</strong>{#$show.bus#}<br />
		<strong>联 系 人：</strong>{#$show.contact#}<br />
		<strong>联系电话：</strong>{#$show.phone#}<br />
		<strong>预定状态：</strong>{#if $show.predetermined_status=="1"#}可预定展位{#else#}停止预定{#/if#}<br />
		{#if $show.predetermined_status=="1"#}
		<strong>在线预定：</strong>{#if $show.predetermined_web=="1"#}可预定，请登录企业会员中心预定招聘会展位{#else#}已停止在线预定{#/if#}<br />
		<strong>电话预定：</strong>{#if $show.predetermined_tel=="1"#}可预定，请拨打联系电话预定招聘会展位{#else#}已停止电话预定{#/if#}<br />
		<strong>开始预定日期：</strong>
		{#if $show.predetermined_start#}
		{#$show.predetermined_start|date_format:"%Y-%m-%d"#}
		{#else#}
		不限制
		{#/if#}<br />
		<strong>结束预定日期：</strong>
		{#if $show.predetermined_end#}
		{#$show.predetermined_end|date_format:"%Y-%m-%d"#}
		{#else#}
		不限制
		{#/if#}<br />
		{#/if#}
		<strong>招聘会简介：</strong><br />
{#$show.introduction#}
	  <div class="hold">
	  <a  class="vtip" {#if $show.predetermined_ok=="1" && $show.predetermined_web=="1"#} href="{#"QS_user,1"|qishi_url#}company_jobfair.php?act=jobfair" title="请进入企业会员中心预定展位"{#else#}title="已停止在线预定展位" href="javascript:void(null);" {#/if#}>在线预定</a>
	   <a href="javascript:void(null);" class="vtip" {#if $show.predetermined_ok=="1" && $show.predetermined_tel=="1"#}title="请拨打以下电话预定：<br>{#$show.phone#}"{#else#}title="已停止电话预定展位"{#/if#}>电话预定</a>
	<a href="{#$show.exhibitorsurl#}" >参会企业</a>
	<a href="javascript:self.close()" >关闭本页</a>
	  </div>
	  
		</div>
    </div>
  </div>
  <div class="right">
  			<div class="listbox">
			<div class="tit"><strong>最新职位</strong></div>		
			{#qishi_jobs_list set="列表名:jobslist,显示数目:5,职位名长度:14,填补字符:...,排序:rtime>desc"#}
			{#foreach from=$jobslist item=list#}
			<div class="txt link_lan">
			<strong><a href="{#$list.jobs_url#}" target="_blank">{#$list.jobs_name#}</a></strong><br />
			<a href="{#$list.company_url#}" target="_blank">{#$list.companyname#}</a><br />
			薪资待遇：{#$list.wage_cn#}<br />招聘人数：{#$list.amount#}人<br />学历要求：{#$list.education_cn|default:"不限"#}
			</div>
			{#/foreach#}
			</div>
		</div>
  </div>
  <div class="clear"></div>
</div>
{#include file="footer.htm"#}
</body>
</html>